

  
 
  
  .nft{
    user-select:none;
    width: 27%;
    cursor: pointer;
    border: 1px solid  white;
    
    background: rgba($color: white, $alpha: 0.3);

    font-family: SplineSans-Regular;
    color: #131313;
    border-radius:10px;
    
    border-radius: .7rem;
    overflow: hidden;
    transition: .5s all;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
box-shadow:4px 4px 8px rgb(189 200 213), -4px -4px 8px rgb(255 255 255);
   
    &:hover{
      
      transform: scale(1.015);
    
    }
  }
  
  